.memorial-candle-block {
	margin-bottom: 35px;
	text-align: center;
	height: 350px;
	position: relative;
}

.memorial-candle-block .memorial-name {
	font-size: 28px;
	line-height: 1;
	color: #d4a74e;
	margin-bottom: 5px;
	margin-top: 0;
}

.memorial-candle-block .memorial-date {
	font-size: 20px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 10px;
}

.memorial-candle-block .memorial-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	display: flex;
}

.memorial-candle-block:not(:hover) .memorial-content {
	display: none;
}


.memorial-candle-block .memorial-content .memorial-content-inner {
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	color: #10124C;
}

.memorial-candle-block .memorial-content .memorial-content-inner p {
	font-size: 14px;
	margin-bottom: 0;
}

.riwp-filter-memorials input,
.riwp-filter-memorials select {
	background-color: transparent;
	border: 1px solid #b8b8cc;
	padding: 3px 10px;
	font-family: "Poeti", Helvetica, Arial, sans-serif;
	color: #b8b8cc;
	font-weight: lighter;
	border-top: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.riwp-filter-memorials input:focus,
.riwp-filter-memorials select:focus {
	outline: 0;
}
